@charset "UTF-8";

h1 {
    background-color: rgb(255, 0, 0);
}

p {
    color: blue;
}
/*
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
*/
.centraliza-texto {
    text-align: center;
}
    